<div class="container ">
    <div class="row col-lg-4 col-lg-offset-4 text-center">
        <h1 class="form-signin-heading">Ton profil</h1>
  <br />
        <div class="form-horizontal">
          <div class="form-group ">
            <label class="control-label">Tu t'appelles</label>
            <p class="form-control-static">{{ details?.name }}</p>
          </div>
          <div class="form-group">
            <label class="control-label">Ton adresse mail</label>
            <p class="form-control-static">{{ details?.email }}</p>
          </div>
          <div class="form-group">
            <label class="ccontrol-label">Ta famille</label>
            <p class="form-control-static">{{ details?.famille }}</p>
          </div>
          <div class="form-group">
            <label class="control-label">Ta race</label>
            <p class="form-control-static">{{ details?.race }}</p>
          </div>
          <div class="form-group">
            <label class="control-label">Ton aliment favori</label>
            <p class="form-control-static">{{ details?.food }}</p>
          </div>
          <div class="form-group"> 
            <br />
            <button type="button" class="btn"><a routerLink="/editProfile">Changer mes infos</a></button>
            </div>
        </div>
      </div>
  </div>